body {
    font-family: 'Lato', sans-serif;
}

nav,
h3,
h1 {
    text-transform: uppercase;
}

.main p {
    border-bottom: solid 2px lightgrey;
    padding: 20px 0px;
}

.parent {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
}

header {
    display: flex;
    justify-content: center;
    margin: 50px; 0px;
}

nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 22px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px 0px;
}

nav ul {
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
nav ul li {
    margin: auto;
}
nav a {
    padding: 18px;
    color: black;
    text-decoration: none;
}

.logind {
    cursor: pointer;
}

.slidedown {
    display: none;
}

.main {
    display: flex;
    margin-top: 20px;
}

.aboutMe {
    max-width: 25%;
    margin-right: 20px;
}

.aboutMe img {
    max-width: 100%;
}

.aboutMe a {
    color: #333;
    font-size: 30px;
}

.articles {
    display: flex;
    flex-flow: column;
    max-width: 75%;
}

.container {
    margin-bottom: 20px;
    max-width: 50%;
}

article {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.moveUp {
    display: flex;
    flex-direction: column-reverse;
}

article h3{
    margin-top: 0px;
}

article img{
    max-width: 100%;
}

/* Hover */
nav a:hover {
    background: #e7e7e7;
}

.aboutMe a:hover {
    color: black;
    font-size: 30px;
}

/* Media Query */

@media screen and (max-width: 800px)
{
    .main {
        display: flex;
        flex-direction: column;
    }
    .aboutMe {
        max-width: 100%;
    }
    .articles {
        max-width: 100%;
    }
}